/* DOCUMENT */

:root {
    --black: #000000;
    --white: #ffffff;
    --red: #EC2E22;
    --surface-gray: #282828;
    --gray: #757575;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--black);
    color: var(--white);
    padding: 0 1rem;
    overflow-x: hidden;
    font-family: "new-science-mono", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .0675rem;
    font-size: .75rem;
    width: 35rem;
    max-width: 100vw;
    margin: 0 auto;
}

input, textarea, button {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    height: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100svh - 3rem);
    gap: 1rem;
}

button {
    text-transform: uppercase;
    letter-spacing: .0675rem;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid var(--gray);
    background-color: var(--black);
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: "field-gothic-xxcondensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1, .h1 {
    font-size: 4rem;
}

h2, .h2 {
    font-size: 3rem;
}

.logo {
    height: 1rem;
}

.hero_pokeball, .hero_pokemon {
    width: 15rem;
}

.hero_pokemon {
    width: 15rem;
}

.score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.score_round-wrapper {
    color: var(--gray);
}

.score_points-wrapper {
    text-align: center;
}

.score_max-wrapper {
    color: var(--red);
    text-align: right;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.stats_button {
    width: 100%;
    height: 4rem;
}

.stats_chosen {
    border: 0;
    color: var(--gray);
}

.selected_number {
    border: 1px solid var(--white);
    color: var(--white);
}

.higher_number {
    border: 1px solid var(--red);
}

.stat-number-wrapper {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

.stat-number {
    font-family: "field-gothic-xcondensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1rem;
}

.summary {
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.start {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    align-items: center;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.preview_type-wrapper {
    display: flex;
    gap: 0.5rem;
}

.preview_type {
    padding: 0.25rem 0.35rem 0.35rem 0.5rem;
    background-color: var(--surface-gray);
    border-radius: 0.25rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.power_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    width: 5rem;
}

.power_button:disabled {
    opacity: 40%;
}

.power_name {
    padding: 0.25rem 0.35rem 0.35rem 0.5rem;
    border: 1px solid var(--gray);
    border-radius: .25rem;
    margin-top: -.5rem;
    background-color: var(--black);
}

.power_icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.u-display-none {
    display: none;
}