/* DOCUMENT */

:root {
    --navy: #101430;
    --white: #ffffff;
    --purple: #8264F8;
    --green: #3EE37D;
    --muted-navy: #1E2344;
    --muted-purple: #B0AAE8;
    --lighter-navy: #30365E;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--navy);
    color: var(--white);
    padding: 1rem;
    overflow-x: hidden;
    font-family: tt-commons-pro, sans-serif;
    font-weight: 500;
    line-height: 120%;
    width: 35rem;
    max-width: 100vw;
    margin: 0 auto;
}

input, textarea, button {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

button {
    background-color: var(--purple);
    color: var(--white);
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .75rem;
    border: none;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:disabled {
    opacity: 0.4;
    cursor: default;
}

.stats_chosen:disabled {
    opacity: 1;
    background-color: #8264F800;
    cursor: default;
}

/* TYPOGRAPHY */

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: "obviously-narrow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1, .h1 {
    font-size: 8rem;
    line-height: 50%;
}

h2, .h2 {
    font-size: 4rem;
    line-height: 50%;
}

h3, .h3 {
    font-size: 2rem;
    line-height: 50%;
}

h4, .h4 {
    font-size: 1rem;
}

.eyebrow {
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

/* CLASSES */
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.background-blur {
    width: 100%;
    height: 100vh;
    background-color: var(--muted-purple);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -50%;
    filter: blur(20rem);
    z-index: -1;
    opacity: 30%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    text-align: center;
}

.hero_text {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    position: absolute;
}

.hero_pokeball-wrapper {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.hero_pokemon-wrapper {
    position: absolute;
    z-index: 2;
}

.hero_pokeball {
    max-width: 15rem;
}

.hero_pokemon {
    max-width: 15rem;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.summary {
    background-color: var(--muted-navy);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.summary_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.summary_details {
    display: flex;
    gap: .5rem;
    font-size: 1.25rem;
}

.summary_name::first-letter {
    text-transform: uppercase;
}

.summary_types {
    display: flex;
    gap: .5rem;
}

.summary_tag {
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding: .25rem .75rem;
    border: 1px solid var(--purple);
    border-radius: 10rem;
}

.summary_stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: .5rem;
}

.summary_amount {
    font-weight: 700;
    color: var(--muted-purple);
}

.summary_amount-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.summary_wrapper {
    background-color: var(--lighter-navy);
    border-radius: .5rem;
    padding: .5rem 1rem;
    text-align: center;
}

.selected_number {
    color: var(--white);
}

.summary_stat-type {
    font-size: .75rem;
    text-transform: uppercase;
    color: var(--muted-purple);
    letter-spacing: .1rem;
}

.stats_best {
    border: 1px solid var(--green);
}

/* UTILITIES */
.u-text-outlined {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px var(--white);
}

.u-position-top {
    z-index: 100;
}

.u-size-hidden {
    transform: scale(0);
}

.u-text-bold{
    font-weight: 700;
}

.u-display-none {
    display: none;
}